html,
body,
canvas {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
  &:before,
  &:after {
    box-sizing: border-box;
  }
}

html,
body {
  position: relative;
  overflow: hidden;
  height: 100%;
}

body:after {
  content: '{ "width": "xs", "height": "xs" }';
  display: block;
  visibility: hidden;
  width: 0;
  height: 0;
  padding: 0;
}
@media (min-width: 600px) {
  body:after {
    content: '{ "width": "sm", "height": "xs" }';
  }
}
@media (min-width: 960px) {
  body:after {
    content: '{ "width": "md", "height": "xs" }';
  }
}
@media (min-width: 1200px) {
  body:after {
    content: '{ "width": "lg", "height": "xs" }';
  }
}
@media (min-width: 1500px) {
  body:after {
    content: '{ "width": "xl", "height": "xs" }';
  }
}
/* height xs */
@media (min-height: 600px) {
  body:after {
    content: '{ "width": "xs", "height": "sm" }';
  }
}
@media (min-height: 960px) {
  body:after {
    content: '{ "width": "xs", "height": "md" }';
  }
}
@media (min-height: 1200px) {
  body:after {
    content: '{ "width": "xs", "height": "lg" }';
  }
}
@media (min-height: 1500px) {
  body:after {
    content: '{ "width": "xs", "height": "xl" }';
  }
}
/* height sm */
@media (min-width: 600px) and (min-height: 600px) {
  body:after {
    content: '{ "width": "sm", "height": "sm" }';
  }
}
@media (min-width: 960px) and (min-height: 600px) {
  body:after {
    content: '{ "width": "md", "height": "sm" }';
  }
}
@media (min-width: 1200px) and (min-height: 600px) {
  body:after {
    content: '{ "width": "lg", "height": "sm" }';
  }
}
@media (min-width: 1500px) and (min-height: 600px) {
  body:after {
    content: '{ "width": "xl", "height": "sm" }';
  }
}
/* height md */
@media (min-width: 600px) and (min-height: 960px) {
  body:after {
    content: '{ "width": "sm", "height": "md" }';
  }
}
@media (min-width: 960px) and (min-height: 960px) {
  body:after {
    content: '{ "width": "md", "height": "md" }';
  }
}
@media (min-width: 1200px) and (min-height: 960px) {
  body:after {
    content: '{ "width": "lg", "height": "md" }';
  }
}
@media (min-width: 1500px) and (min-height: 960px) {
  body:after {
    content: '{ "width": "xl", "height": "md" }';
  }
}
/* height lg */
@media (min-width: 600px) and (min-height: 1200px) {
  body:after {
    content: '{ "width": "sm", "height": "lg" }';
  }
}
@media (min-width: 960px) and (min-height: 1200px) {
  body:after {
    content: '{ "width": "md", "height": "lg" }';
  }
}
@media (min-width: 1200px) and (min-height: 1200px) {
  body:after {
    content: '{ "width": "lg", "height": "lg" }';
  }
}
@media (min-width: 1500px) and (min-height: 1200px) {
  body:after {
    content: '{ "width": "xl", "height": "lg" }';
  }
}
/* height xl */
@media (min-width: 600px) and (min-height: 1500px) {
  body:after {
    content: '{ "width": "sm", "height": "xl" }';
  }
}
@media (min-width: 960px) and (min-height: 1500px) {
  body:after {
    content: '{ "width": "md", "height": "xl" }';
  }
}
@media (min-width: 1200px) and (min-height: 1500px) {
  body:after {
    content: '{ "width": "lg", "height": "xl" }';
  }
}
@media (min-width: 1500px) and (min-height: 1500px) {
  body:after {
    content: '{ "width": "xl", "height": "xl" }';
  }
}

.full {
  width: 100%;
  height: 100%;
}
.scale {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 100%;
  max-height: 100%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.visible {
  border: #ddd dashed 1px;
}